@model ClientListViewModel


<div class="container-fluid px-4">
<h1 class="mt-4">Clients</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">BSC Hub</li>
    <li class="breadcrumb-item active">Clients</li>
</ol>


    <a class="btn btn-primary" asp-controller="client" asp-action="add">Add Client</a>

    <table class="table">

        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Provider</th>
                <th>ISP Start Date</th>
                <th>Severity</th>
                <th>Needs BCIP</th>
                <th>Needs PPMP</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var client in Model.Clients)
            {
                <tr>
                    <td>@client.FirstName</td>
                    <td>@client.LastName</td>
                    @if (client.Provider == null)
                    {
                        <td></td>
                    }
                    else
                    {
                    <td>@client.Provider.FirstName @client.Provider.LastName</td>
                    }
                    <td>@client.ISP_YearStartDate</td>
                    @if (client.IsSevere)
                    {
                        <td>Severe</td>
                    }
                    else
                    {
                        <td>Not Severe</td>
                    }
                    @if (client.NeedsBCIP)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }
                    @if (client.NeedsPPMP)
                    {
                        <td>Yes</td>
                    }
                    else
                    {
                        <td>No</td>
                    }

                    <td>
                        <a class="btn btn-sm btn-primary" asp-controller="client" asp-action="edit" asp-route-clientId="@client.ClientId">Edit</a>
                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#delete-@client.ClientId">Remove</button>
                        <a class="btn btn-sm btn-primary" asp-controller="dates" asp-action="list" asp-route-clientId="@client.ClientId">Dates</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>



    @foreach (var client in Model.Clients)
    {
        

        <div class="modal fade" id="delete-@client.ClientId" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">
                            Delete Client
                        </h5>
                    </div>
                    <div class="modal-body">

                        <p>Are you sure that you want to remove @client.FirstName @client.LastName from the system?</p>

                        <form asp-action="DeleteClient" asp-route-clientId="@client.ClientId" method="post" role="form">
                            <input type="submit" class="btn btn-primary" value="Delete Client" />
                        </form>
                    </div>

                </div>
            </div>
        </div>
    }



</div>

