@using SocialWorkApp.Application
@model ReportListViewModel
<h1 class="mt-4">My Reports</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">BSC Hub</li>
    <li class="breadcrumb-item active">Reports</li>
</ol>

<strong>Reports To Do</strong>
<div class="mt-3"></div>
@if (!Model.NotAcceptedReports.Any())
{
    <p>All reports are completed</p>
}
else
{
    <table class="table table-bordered" style="table-layout: fixed; width: 100%;">
        <thead>
            <tr>
                <th>Report Type</th>
                <th>Client</th>
                <th>Status</th>
                @if (!Model.Provider.IsIndependent)
                {
                    <th>Due to Supervisor By</th>
                }
                <th>Due By</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var report in Model.NotAcceptedReports)
            {
                <tr>
                    <td>@Report.GetName(report.Type)</td>
                    <td>@report.Client.GetName()</td>
                    @if (report.IsLate(Model.Provider.IsIndependent))
                    {
                        <td class="table-danger">@report.Status</td>
                    }
                    else
                    {
                        <td>@report.Status</td>
                    }
                    @if (!Model.Provider.IsIndependent)
                    {
                        <td>@report.GetToSupervisorDueDate()</td>
                    }
                    <td>@report.Deadline</td>
                </tr>
            }
        </tbody>


    </table>

}