@model DatesListViewModel

<div class="container-fluid px-4">
    <h1 class="mt-4">Dates for @Model.Client.FirstName @Model.Client.LastName</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">BSC Hub</li>
        <li class="breadcrumb-item">Clients</li>
        <li class="breadcrumb-item">@Model.Client.FirstName @Model.Client.LastName</li>
        <li class="breadcrumb-item active">Dates</li>
    </ol>

    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addYear">Add ISP Year</button>


    @foreach (var year in Model.ISP_Years)
    {
        <table class="table table-bordered data-table mt-3" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th>ISP Year Start Date</th>
                    <th>@year.ISP_Year.StartDate</th>
                    <td style="min-width:200px;">
                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#edit-start-@year.ISP_Year.ISP_YearId">Edit</button>
                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#delete-start-@year.ISP_Year.ISP_YearId">Delete</button>
                    </td>
                </tr>
            </thead>
            <tbody>


                @if (year.ISP_Year.MeetingDate is null)
                {
                    <tr class="table-warning">
                        <th>ISP Meeting Date</th>
                        <td>Not Set</td>
                        <td class="table-warning">
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#set-meeting-@year.ISP_Year.ISP_YearId">Set</button>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>ISP Meeting Date</td>
                        <td>@year.ISP_Year.MeetingDate</td>
                        <td>
                            <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#edit-meeting-@year.ISP_Year.ISP_YearId">Edit</button>
                        </td>
                    </tr>
                }


                <tr>
                    <td>PBSA Due</td>
                    @if (year.PBSA.Deadline == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@year.PBSA.Deadline</td>
                    }

                </tr>
                <tr>
                    <td>PBSP Due</td>
                    @if (year.PBSP.Deadline == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@year.PBSP.Deadline</td>
                    }

                </tr>
                <tr>
                    <td>Semi-Annual Due</td>
                    @if (year.SemiAnn.Deadline == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@year.SemiAnn.Deadline</td>
                    }

                </tr>
                @if (year.ISP_Year.HasBCIP && year.BCIP != null)
                {
                    <tr>
                        <td>BCIP Due</td>
                        @if (year.BCIP.Deadline == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@year.BCIP.Deadline</td>
                        }

                    </tr>
                }
                @if (year.ISP_Year.HasPPMP && year.PPMP != null)
                {
                    <tr>
                        <td>PPMP Due</td>
                        @if (year.PPMP.Deadline == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@year.PPMP.Deadline</td>
                        }

                    </tr>
                }
            
            </tbody>
        </table>

    }

    @foreach(var year in Model.ISP_Years)
    {

        <div class="modal fade" id="delete-start-@year.ISP_Year.ISP_YearId" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">
                            Delete ISP Year
                        </h5>
                    </div>
                    <div class="modal-body">

                        <p>Are you sure that you want to remove the ISP Year starting on @year.ISP_Year.StartDate from the system? This will also remove the meeting date.</p>

                        <form asp-action="DeleteYear" asp-route-ISP_YearId="@year.ISP_Year.ISP_YearId" asp-route-clientId="@Model.Client.ClientId" method="post" role="form">
                            <input type="submit" class="btn btn-primary" value="Delete ISP Year" />
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="edit-start-@year.ISP_Year.ISP_YearId" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <vc:start-date-form year-id="@year.ISP_Year.ISP_YearId"></vc:start-date-form>

                </div>
            </div>
        </div>

        <div class="modal fade" id="set-meeting-@year.ISP_Year.ISP_YearId" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">
                            Set ISP Meeting Date
                        </h5>
                    </div>
                    <div class="modal-body">


                        <form asp-action="SetMeetingDate" asp-route-meetingDate="@year.NewMeetingDate" asp-route-ISP_YearId="@year.ISP_Year.ISP_YearId" asp-route-clientId="@Model.Client.ClientId" method="post" role="form">

                            <div class="mb-3">
                                <label asp-for="@year.NewMeetingDate" class="form-label">ISP Meeting Date</label>
                                <input asp-for="@year.NewMeetingDate" class="form-control" />
                            </div>
                            <div class="mb-3 mt-3">
                                <input type="submit" class="btn btn-primary" value="Set Date" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


        <div class="modal fade" id="edit-meeting-@year.ISP_Year.ISP_YearId" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title">
                            Update ISP Meeting Date
                        </h5>
                    </div>
                    <div class="modal-body">


                        <form asp-action="SetMeetingDate" asp-route-meetingDate="@year.NewMeetingDate" asp-route-ISP_YearId="@year.ISP_Year.ISP_YearId" asp-route-clientId="@Model.Client.ClientId" method="post" role="form">

                            <div class="mb-3">
                                <label asp-for="@year.NewMeetingDate" class="form-label">ISP Meeting Date</label>
                                <input asp-for="@year.NewMeetingDate" class="form-control" />
                            </div>
                            <div class="mb-3 mt-3">
                                <input type="submit" class="btn btn-primary" value="Update Meeting Date" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>


    }


    <div class="modal fade" id="addYear" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Add Year
                    </h5>
                </div>
                <div class="modal-body">
                    <p> Enter the Start Date of the New ISP Year</p>
                    <form asp-action="AddYear" asp-route-clientId="@Model.Client.ClientId" method="post" role="form">

                        <div class="mb-3">
                            <label asp-for="NewYearStart" class="form-label">New Year Start</label>
                            <input asp-for="NewYearStart" class="form-control" />
                        </div>
                        <div class="mb-3 mt-3">
                            <input type="submit" class="btn btn-primary" value="Add Year" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>



