@model ReportListViewModel

<div class="container-fluid px-4">
    <h1 class="mt-4">Reports</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">BSC Hub</li>
        <li class="breadcrumb-item">Reports</li>
        <li class="breadcrumb-item active">@Model.Consultant.FirstName @Model.Consultant.LastName</li>
    </ol>

    
    @if (!Model.NotCompletedReports.Any())
    {
        <div class="mt-3"><strong>There are no upcoming reports to display</strong></div>
    }
    else
    {
        <p class="mt-3"><strong>Upcoming Reports</strong></p>
        <table class="table table-bordered mt-3" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Client</th>
                    <th>Type</th>
                    <th>Deadline</th>
                    @if (!Model.Consultant.IsIndependent)
                    {
                    <th>Due to Supervisor By</th>
                    }
                    <th></th>
                </tr>
                
            </thead>
            <tbody>
                @foreach (var report in Model.NotCompletedReports)
                {
                    @if (report.Deadline != null && DateHelper.GetToday() > report.Deadline)
                    {
                        <tr class="table-danger">
                            <td>Late</td>
                            <td>@report.ClientName</td>
                            <td>@ReportHelper.GetName(report.Type)</td>
                            
                            <td>@report.Deadline</td>
                            
                            @if (!Model.Consultant.IsIndependent)
                            {
                                @if (report.DueToSupervisorBy != null)
                                {
                                    <td>@report.DueToSupervisorBy</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td>
                                <form asp-action="MarkAsComplete" asp-route-yearId="@report.ISP_YearId" asp-route-type="@report.Type" 
                                asp-route-providerId="@Model.Consultant.UserId" method="post" role="form">
                                    <input type="submit" class="btn btn-primary" value="Ready to Review" />
                                </form>
                            </td>
                        </tr>
                    }
                    else if (report.Deadline == null)
                    {
                        <tr class="table-warning">
                            <td>Unknown</td>
                            <td>@report.ClientName</td>
                            <td>@ReportHelper.GetName(report.Type)</td>
                            <td>Information Missing</td>
                            @if (!Model.Consultant.IsIndependent)
                            {
                                @if (report.DueToSupervisorBy != null)
                                {
                                    <td>@report.DueToSupervisorBy</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td>
                                <form asp-action="MarkAsComplete" asp-route-yearId="@report.ISP_YearId" asp-route-type="@report.Type"
                                      asp-route-providerId="@Model.Consultant.UserId" method="post" role="form">
                                    <input type="submit" class="btn btn-primary" value="Ready To Review" />
                                </form>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>Upcoming</td>
                            <td>@report.ClientName</td>
                            <td>@ReportHelper.GetName(report.Type)</td>
                            <td>@report.Deadline</td>
                            @if (!Model.Consultant.IsIndependent)
                            {
                                @if (report.DueToSupervisorBy != null)
                                {
                                    <td>@report.DueToSupervisorBy</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            }
                            <td>
                                <form asp-action="MarkAsComplete" asp-route-yearId="@report.ISP_YearId" asp-route-type="@report.Type"
                                      asp-route-providerId="@Model.Consultant.UserId" method="post" role="form">
                                    <input type="submit" class="btn btn-primary" value="Ready to Review" />
                                </form>
                            </td>
                        </tr>
                    }
                
                }
            </tbody>
        </table>
    }

    @if (!Model.CompletedReports.Any())
    {
        <div class="mt-3"><strong>There are no completed reports to display</strong></div>
    }
    else
    {
        <p class="mt-3"><strong>Completed Reports</strong></p>
            <table class="table table-bordered mt-3" style="table-layout: fixed; width: 100%;">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Client</th>
                        <th>Type</th>
                        <th>Deadline</th>
                        @if (!Model.Consultant.IsIndependent)
                        {
                            <th>Due to Supervisor By</th>
                        }
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var report in Model.CompletedReports)
                    {
                    <tr>
                        @if (report.IsReviewed)
                        {
                            <td>Accepted</td>
                        }
                        else
                        {
                            <td>Pending</td>
                        }
                        <td>@report.ClientName</td>
                        <td>@ReportHelper.GetName(report.Type)</td>
                        @if (report.Deadline == null)
                        {
                            <td>Information Missing</td>
                        }
                        else
                        {
                            <td>@report.Deadline</td>
                        }
                        @if (!Model.Consultant.IsIndependent)
                        {
                            @if (report.DueToSupervisorBy != null)
                            {
                                <td>@report.DueToSupervisorBy</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                        <td>
                            <form asp-action="MarkAsNotComplete" asp-route-yearId="@report.ISP_YearId" asp-route-type="@report.Type"
                                  asp-route-providerId="@Model.Consultant.UserId" method="post" role="form">
                                <input type="submit" class="btn btn-primary" value="Incomplete" />
                            </form>
                        </td>
                    </tr>
                        

                    }
                </tbody>
            </table>
        
    }
</div>