@model ReportListCardViewModel

<div class="accordion-item">
    <h2 class="accordion-header" id="Header">
        <button class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#@Model.NameNoSpaces">
            @Model.Name
        </button>
    </h2>
    <div id="@Model.NameNoSpaces" class="accordion-collapse collapse show">
        <div class="accordion-body">
            <partial name="_ReportTable" model="Model.Reports"></partial>
        </div>
    </div>


</div>






@* <div class="card">
    <div class="card-header d-flex justify-content-between">
        @Model.Name
        <i class="fa-solid fa-chevron-down" role="button" href="#late" data-toggle="collapse" data-target="#late"></i>
    </div>
    <div class="card-body collapse" id="late">
        <div class="accordion-body">
            <partial name="_ReportTable" model="@Model.Reports"></partial>
        </div>
    </div>
</div> *@
@* 

<div class="accordion" id="reportAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="Header">
            <button class="accordion-button" data-toggle="collapse" data-parent="#accordion" href="#reportList">
                @Model.Name
            </button>
        </h2>
        <div id="reportList" class="accordion-body collapse " data-bs-parent="#reportAccordion">
            <div class="accordion-body">
                <partial name="_ReportTable" model="Model.Reports"></partial>
            </div>
        </div>
    </div>
</div> *@